/*
 #232A34 dark lightgrey
#A46484 rosy brown girly background to "lift" those nerdy pokemon stuff ;)
#91AFC1: light steel lightblue
#B395B1: light rosy brown
*/


:root {
  --primary-color: #232A34;
  --secondary-color: white;
  --link-color: #232A34;
  --visited-link-color:#B395B1 ;
  --active-link-color: #231815;
  --grid-bg-color: #B395B1;
  --primary-font-size: 16px;
  --primary-font-weigth: 400;
  --h1-font-family: 'Dancing Script', cursive;
  --h1-font-size: 70px;
  --h1-font-weight: 700;
  --font-family: 'Amatic SC', cursive;
  --font-size: 30px;
  --font-weight: 700;
  --font-color:red;
  --body: margin:0;padding:15px;width:100%;
  --html:margin:0;padding:15px;width:100%;
}
*{box-sizing: border-box;}

ul{
  text-align:center;
  position:absolute;
  width:95%;
  margin:10px auto 0;
  padding:10px;
  box-sizing:border-box}

li{
  display:flex;
  align-items:center;
  justify-content:center}

button{
  background:0 0;
  color:#ccc;
  margin-bottom:5px;
  width:240px;
  height:50px;
  border:2px solid;
  font-size:15px;
  border-radius:4px}

button:focus,button:hover{
  cursor:pointer;opacity:.8}



body{
  background-image:url(background_ball.jpg);
  background-size:cover;
  padding: 20px;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.footer {
  font-size: 10px;
  display: center;
  margin-left: auto;
  margin-right: auto;
}

.pokeball {
display: block;
margin-left: auto;
margin-right: auto;

}

}

.h1{
  text-align: center;
  border-radius: 50;
  margin-left: auto;
  margin-right: auto;
}

.button{
  background-color: var(--backgroundcolor);
  border: 40px;
}
.buttonjs{
  display: block;
  background-color: var(--secondary-color);
  padding: 50px;
  margin: 0 auto;
  border-radius: 50%;
}


}
.pokemon-list li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding: 5px;
    width: auto;
    background: var(--backgroundcolor);

}

.list-button {
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: var(--backgroundcolor);
    border: var(--primarycolor) solid 1px;
    cursor: pointer;
    font: var(--font-family);
}



.wrapper{width:100%}
.page-header
{width:60%;display:block;margin-left:auto;margin-right:auto;padding-bottom:10px}
.modal
{margin:auto;display:inline-block;box-sizing:border-box;background:#fff;padding:15px;width:100%;max-width:400px;text-align:left}
.modal-close
{margin-bottom:0;width:100px;float:right;-webkit-appearance:none;border:0;background:0 0;color:#red;text-decoration:underline}
.modal
h1{margin-top:0}.modal
p{margin-bottom:0}
.pokemon-info{margin-top:40px}
#background{background-image: url(css/background_ball.jpg);
  background-size:cover;background-position:center center;}
#modal-container{display:none}
#modal-container.is-visible
{position:fixed;padding:20px;box-sizing:border-box;top:0;left:0;width:100%;height:100%;
background:rgba(0,0,0,.5);z-index:999;overflow:auto;display:grid;text-align:center}
@media only screen and (min-width:768px){#background{background-image:url(../img/umbreon.jpg)}
.modal{max-width:700px}.page-header{width:30%}}
@media only screen and (min-width:1000px){#background{background-image:url(../img/umbreon.jpg)}
li{align-items:flex-start;justify-content:flex-start}
.modal{max-width:700px}
.page-header{width:100%}}
