/*
 #232A34 dark lightgrey
#A46484 rosy brown girly background to "lift" those nerdy pokemon stuff ;)
#91AFC1: light steel lightblue
#B395B1: light rosy brown
*/


:root {
  --background-color:#B395B1;
  --primary-color: #232A34;
  --secondary-color: white;
  --link-color: #232A34;
  --visited-link-color:#B395B1 ;
  --active-link-color: #231815;
  --grid-bg-color: #B395B1;
  --primary-font-size: 16px;
  --primary-font-weigth: 400;
  --h1-font-family: 'Dancing Script', cursive;
  --h1-font-size: 70px;
  --h1-font-weight: 700;
  --font-family: 'Amatic SC', cursive;
  --font-size: 30px;
  --font-weight: 700;
}


body{
  background-color:var(--background-color);
  padding: 20px;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.pokeball {
display: block;
margin-left: auto;
margin-right: auto;

}

}

.h1{
  text-align: center;
  border-radius: 50;
  margin-left: auto;
  margin-right: auto;
}

.button{
  background-color: var(--backgroundcolor);
  border: 40px;
}
.buttonjs{
  display: block;
  background-color: var(--secondary-color);
  padding: 50px;
  margin: 0 auto;
  border-radius: 50%;
}

.grid{
display: grid;
text-align: center;
background-color: var(--secondary-color);
border-color: var(--secondary-color);
}

.grid__item{
display: grid;
text-align: center;
background-color: var(--secondary-color);
border-color: var(--secondary-color);
padding: auto;
margin: auto 0;

}
.pokemon-list li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding: 5px;
    width: 33.333%;
}

.list-button {
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: var(--backgroundcolor);
    border: var(--primarycolor) solid 1px;
    cursor: pointer;
    font: var(--font-family);
}
