body{
  background-color: lightgrey;
  padding: 20px;
}

.classh1{
  display: block;
  text-align:center;

}
.buttonjs{
  display: block;
  background-color: lightblue;
  padding: 50px;
  margin: 0 auto;
}
